<section id="section-faq" class="section section-faq">
  <div class="container container-faq">
    <h2 class="title">
      <div style="font-family: inherit">
        FREQUENTLY <span style="font-family: inherit">ASKED</span>
        <span class="green_title">QUESTION</span>
      </div>

      <div class="FQA-background-svg">
        <svg
          width="536"
          height="422"
          viewBox="0 0 536 422"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter0_f_2051_1395)">
            <rect
              width="15.0406"
              height="15.0406"
              rx="1.48034"
              transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 104.945 217.158)"
              fill="#00B068"
              fill-opacity="0.8"
            />
            <rect
              width="15.0406"
              height="15.0406"
              rx="1.48034"
              transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 235.939 23.2344)"
              fill="#00B068"
              fill-opacity="0.8"
            />
            <rect
              width="22.5609"
              height="22.5609"
              rx="1.48034"
              transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 209.294 390.477)"
              fill="#00B068"
              fill-opacity="0.8"
            />
            <rect
              width="22.5609"
              height="22.5609"
              rx="1.48034"
              transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 40.5352 263.168)"
              fill="#00B068"
              fill-opacity="0.8"
            />
            <rect
              width="7.52029"
              height="7.52029"
              rx="1.48034"
              transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 216.695 123.777)"
              fill="#00B068"
              fill-opacity="0.8"
            />
            <rect
              width="7.52029"
              height="7.52029"
              rx="1.48034"
              transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 7.96777 153.803)"
              fill="#00B068"
              fill-opacity="0.8"
            />
            <rect
              width="7.52029"
              height="7.52029"
              rx="1.48034"
              transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 353.761 368.547)"
              fill="#00B068"
              fill-opacity="0.8"
            />
            <rect
              width="7.52029"
              height="7.52029"
              rx="1.48034"
              transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 521.039 414.438)"
              fill="#00B068"
              fill-opacity="0.8"
            />
            <rect
              width="15.0406"
              height="15.0406"
              rx="1.48034"
              transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 262.586 231.961)"
              fill="#00B068"
              fill-opacity="0.8"
            />
            <rect
              width="7.52029"
              height="7.52029"
              rx="1.48034"
              transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 323.279 89.7305)"
              fill="#00B068"
              fill-opacity="0.8"
            />
          </g>
          <defs>
            <filter
              id="filter0_f_2051_1395"
              x="-1.40169"
              y="-0.401686"
              width="540.803"
              height="422.803"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="BackgroundImageFix"
                result="shape"
              />
              <feGaussianBlur
                stdDeviation="3.70084"
                result="effect1_foregroundBlur_2051_1395"
              />
            </filter>
          </defs>
        </svg>
      </div>
    </h2>
    <div>
      <ul class="accordion_list">
        <li class="ac ac-click">
          <h3 class="ac_header">
            What programming languages ​​are most often used in your project?
            <button type="button" class="ac_trigger">
              <span class="icon icon-angel_down"></span>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="ac-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>
        <li class="ac">
          <h3 class="ac_header">
            What are the deadlines for the project?
            <button type="button" class="ac_trigger">
              <span class="icon icon-angel_down"></span>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="ac-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>
        <li class="ac">
          <h3 class="ac_header">
            What payment methods do you accept?
            <button type="button" class="ac_trigger">
              <span class="icon icon-angel_down"></span>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="ac-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
        <li class="ac">
          <h3 class="ac_header">
            How can I contact you?
            <button type="button" class="ac_trigger">
              <span class="icon icon-angel_down"></span>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="ac-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>
        <li class="ac">
          <h3 class="ac_header">
            Do you provide advice or support?
            <button type="button" class="ac_trigger">
              <span class="icon icon-angel_down"></span>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="ac-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>
        <li class="ac">
          <h3 class="ac_header">
            What does the process of developing a software product look like
            from idea to implementation?
            <button type="button" class="ac_trigger">
              <span class="icon icon-angel_down"></span>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="ac-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
