<footer id="footer" class="footer">
  <div class="container">
    <h3 class="footer-logo">
      lloyd<span class="color-accent">jefferson.</span>
    </h3>
    <div class="social-nets">
      <ul class="social-list-ul">
        <li class="social-item">
          <a
            class="social-link"
            target="_blank"
            href="https://www.instagram.com/goitclub/"
            >Instagram</a
          >
        </li>
        <li class="social-item">
          <a
            class="social-link"
            target="_blank"
            href="https://www.facebook.com/goITclub/"
            >Facebook</a
          >
        </li>
        <li class="social-item">
          <a
            class="social-link"
            target="_blank"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it/mycompany/"
            >Linkedin</a
          >
        </li>
        <li class="social-item">
          <a
            class="social-link"
            target="_blank"
            href="https://github.com/bomatsara/portfolio-2.0/tree/main"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="copyright-footer-text">
      &copy; Copyright 2024.<br />
      Made by LloydJefferson
    </p>
  </div>
</footer>
