<header id="header" class="header">
  <div class="container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo">
        <div class="logo">
        lloyd<span class="color-accent">jefferson.</span>
      </div>
      </a>

      <div class="switcher switcher__dark_mode">
        <label class="switch">
          <input type="checkbox" class="darkModeToggle">
          <span class="slider round"></span>
        </label>
      </div>

      <ul class="header-menu">
        <li class="header-menu-list"><a href="#section-about_me" class="header-menu-link">About me</a></li>
        <li class="header-menu-list"><a href="#section-projects" class="header-menu-link">Projects</a></li>
        <li class="header-menu-list"><a href="#section-work_together" class="header-menu-link">Contacts</a></li>
      </ul>
      <button class="mob-menu-btn" type="button">
        <span class="icon icon-burger"></span>
      </button>
    </nav>
  </div>
  <div class="mobile-menu">
    <div class="header-navigation">
      <a href="./index.html" class="header-logo">
        <div class="logo">
          lloyd<span class="color-accent">jefferson.</span>
        </div>
      </a>
      <button class="mob-close-btn" type="button">
        <span class="icon icon-close"></span>
      </button>
    </div>
    <ul class="mobile-menu-item">
      <li class="header-menu-list"><a href="#section-about_me" class="header-menu-link">About me</a></li>
      <li class="header-menu-list"><a href="#section-projects" class="header-menu-link">Projects</a></li>
      <li class="header-menu-list"><a href="#section-work_together" class="header-menu-link">Contacts</a></li>
      <li class="header-menu-list">
        <div class="switcher switcher__dark_mode">
          <label class="switch">
            <input type="checkbox" class="darkModeToggle">
            <span class="slider round"></span>
          </label>
        </div>
      </li>
    </ul>
  </div>
</header>
