<header id="header" class="header">
  <div class="container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo">Lloyd<span class="color-accent">Jefferson.</span></a>
      <ul class="header-menu">
        <li class="header-menu-list"><a href="#section-about_me" class="header-menu-link">About me</a></li>
        <li class="header-menu-list"><a href="#section-projects" class="header-menu-link">Projects</a></li>
        <li class="header-menu-list"><a href="#section-work_together" class="header-menu-link">Contacts</a></li>
      </ul>
      <button class="mob-menu-btn" type="button">
        <svg width="21" height="14" class="open-mob-menu-btn">
          <use href="./img/header_svg/header.svg#icon-mob_menu"></use>
        </svg>
      </button>
    </nav>
  </div>
  <div class="mobile-menu">
    <div class="header-navigation">
      <a href="./index.html" class="header-logo">Lloyd<span class="color-accent">Jefferson.</span></a>
      <button class="mob-close-btn" type="button">
        <svg width="16" height="16" class="icon-close-btn">
          <use href="./img/header_svg/header.svg#icon-close-button"></use>
        </svg>
      </button>
    </div>
    <ul class="mobile-menu-item">
      <li class="header-menu-list"><a href="#section-about_me" class="header-menu-link">About me</a></li>
      <li class="header-menu-list"><a href="#section-projects" class="header-menu-link">Projects</a></li>
      <li class="header-menu-list"><a href="#section-work_together" class="header-menu-link">Contacts</a></li>
    </ul>
  </div>
</header>
