<header id="header" class="header">
  <div class="container">
    <nav>
      <a href="./index.html" class="header-logo-link">Lloyd<span class="color-accent">Jefferson.</span></a>
      <ul class="header-menu" style="display: none;">
        <li class="header-menu-list"><a href="">About me</a></li>
        <li class="header-menu-list"><a href="">Projects</a></li>
        <li class="header-menu-list"><a href="">Contacts</a></li>
      </ul>
      <button class="mob-menu-btn" type="button">
        <svg width="32" height="32" class="open-mob-menu-btn">
          <use href="./img/header_svg/header.svg#icon-mob_menu"></use>
        </svg>
      </button>
    </nav>
  </div>
  <div class="mobile-menu" style="display: none;">
    <a href="./index.html" class="header-logo-link">Lloyd<span class="color-accent">Jefferson.</span></a>
      <ul class="mobile-menu-item">
        <li class="header-menu-list"><a href="">About me</a></li>
        <li class="header-menu-list"><a href="">Projects</a></li>
        <li class="header-menu-list"><a href="">Contacts</a></li>
      </ul>
      <button class="mob-close-btn" type="button">
        <svg width="32" height="32" class="close-mob-menu-btn">
          <use href="./img/header_svg/header.svg#icon-close-button"></use>
        </svg>
      </button>
  </div>
</header>
