<section id="section-hero" class="section section-hero">
  <div class="container">

    <div class="hero-header">
      <div>
        <h1>Hello, I am <span class="color-accent">Fullstack Developer</span></h1>
      </div>
      <div>
        <img src="./imghero/developer.jpg" alt="Developer" class="hero-image">
      </div>

    </div>

    <div class="hero-footer">
      <div class="h-btn-desk">
        <button class="button hero-btn">

          <div class="hero-el">
            <div class="button-display"></div>
            <a href="#section-work_together">
              <p class="hero-btn-text">order the project</p>
            </a>
          </div>

          <div class="hero-Rectangle"></div>
        </button>
      </div>

      <div class="hero-text">
        <p class="text_caption">I work with people all over the world to create
          <span class="color-accent">impressive</span> and
          <span class="color-accent">functional websites</span>
          that reflect each client’s unique personality.
        </p>
      </div>
    </div>



  </div>

  <ul class="list-hero">
    <li><a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a></li>
    <li><a href="https://www.youtube.com/c/GoIT" target="_blank">YouTube</a></li>
    <li><a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a></li>
    <li><a href="https://github.com/your-repo" target="_blank">GitHub</a></li>
  </ul>
</section>