<section id="section-projects" class="section section-projects">
  <div class="container">
    <h2 class="projects-title">my<span class="color-accent">projects</span></h2>
    <div class="projects-list">
      <ul id="projects-list">
        <!-- <li class="projects-cards">
          <img
            src="./img/my_projects/wallet-1x.jpeg"
            alt=""
            width="278"
            height="168"
          />
          <p class="text">React, JavaScript, Node JS, Git</p>
          <h3 class="projects-name-title">Wallet webservice</h3>
          <div class="button-card-container">
            <button type="button" class="button button-light_grey">
              visit
            </button>
          </div>
        </li>
        <li class="projects-cards">
          <img
            src="./img/my_projects/green_harvest-1x.jpeg"
            alt=""
            width="278"
            height="168"
          />
          <p class="text">React, JavaScript, Node JS, Git</p>
          <h3 class="projects-name-title">Green harvest webservice</h3>
          <div class="button-card-container">
            <button type="button" class="button button-light_grey">
              visit
            </button>
          </div>
        </li>
        <li class="projects-cards">
          <img
            src="./img/my_projects/english_excellence-1x.jpeg"
            alt=""
            width="278"
            height="168"
          />
          <p class="text">React, JavaScript, Node JS, Git</p>
          <h3 class="projects-name-title">English Exellence website</h3>
          <div class="button-card-container">
            <button type="button" class="button button-light_grey">
              visit
            </button>
          </div>
        </li> -->
      </ul>
    </div>
    <div class="button-container">
      <button id="load-more" type="button" class="button button-outline">load more</button>
    </div>
  </div>
</section>
