<section id="section-tech_skills" class="section section-tech_skills">
  <h2 class="visually-hidden">Tech Skills</h2>
  <div class="marquee">
    <div class="marquee__inner green">
      <div class="marquee__line">
        <h3 class="title-tech-skills">HTML/CSS</h3>
        <h3 class="title-tech-skills">JavaScript</h3>
        <h3 class="title-tech-skills">React</h3>
        <h3 class="title-tech-skills">Node.js</h3>
        <h3 class="title-tech-skills">React Native</h3>
        <h3 class="title-tech-skills">Typescript</h3>
      </div>
      <div class="marquee__line">
        <h3 class="title-tech-skills">HTML/CSS</h3>
        <h3 class="title-tech-skills">JavaScript</h3>
        <h3 class="title-tech-skills">React</h3>
        <h3 class="title-tech-skills">Node.js</h3>
        <h3 class="title-tech-skills">React Native</h3>
        <h3 class="title-tech-skills">Typescript</h3>
      </div>
      <div class="marquee__line">
        <h3 class="title-tech-skills">HTML/CSS</h3>
        <h3 class="title-tech-skills">JavaScript</h3>
        <h3 class="title-tech-skills">React</h3>
        <h3 class="title-tech-skills">Node.js</h3>
        <h3 class="title-tech-skills">React Native</h3>
        <h3 class="title-tech-skills">Typescript</h3>
      </div>
    </div>

    <div class="marquee__inner grey">
      <div class="marquee__line">
        <h3 class="title-tech-skills">HTML/CSS</h3>
        <h3 class="title-tech-skills">JavaScript</h3>
        <h3 class="title-tech-skills">React</h3>
        <h3 class="title-tech-skills">Node.js</h3>
        <h3 class="title-tech-skills">React Native</h3>
        <h3 class="title-tech-skills">Typescript</h3>
      </div>
      <div class="marquee__line">
        <h3 class="title-tech-skills">HTML/CSS</h3>
        <h3 class="title-tech-skills">JavaScript</h3>
        <h3 class="title-tech-skills">React</h3>
        <h3 class="title-tech-skills">Node.js</h3>
        <h3 class="title-tech-skills">React Native</h3>
        <h3 class="title-tech-skills">Typescript</h3>
      </div>
      <div class="marquee__line">
        <h3 class="title-tech-skills">HTML/CSS</h3>
        <h3 class="title-tech-skills">JavaScript</h3>
        <h3 class="title-tech-skills">React</h3>
        <h3 class="title-tech-skills">Node.js</h3>
        <h3 class="title-tech-skills">React Native</h3>
        <h3 class="title-tech-skills">Typescript</h3>
      </div>
    </div>
  </div>
</section>