<section id="section-tech_skills" class="section section-tech_skills">
  <div class="container">
    <h2 class="visually-hidden">Tech Skills</h2>
        <div class="marquee">
            <div class="marquee__inner">
                <div class="marquee__line">
                    <h3 class="title-tech-skills"><svg class="icon">
                            <use href="./images/sprite.svg#green-square"></use>
                        </svg> HTML/CSS </h3>


                    <h3 class="title-tech-skills"><svg class="icon">
                            <use href="./images/sprite.svg#green-square"></use>
                        </svg> JavaScript </h3>


                    <h3 class="title-tech-skills"><svg class="icon">
                            <use href="./images/sprite.svg#green-square"></use>
                        </svg> React </h3>


                    <h3 class="title-tech-skills"><svg class="icon">
                            <use href="./images/sprite.svg#green-square"></use>
                        </svg> Node.js </h3>


                    <h3 class="title-tech-skills"><svg class="icon">
                            <use href="./images/sprite.svg#green-square"></use>
                        </svg> React Native </h3>


                    <h3 class="title-tech-skills"><svg class="icon">
                            <use href="./images/sprite.svg#green-square"></use>
                        </svg> Typescript <svg class="icon">
                            <use href="./images/sprite.svg#green-square"></use>
                        </svg></h3>
                </div>
            </div>

            <div class="marquee__inner green">
                <div class="marquee__line green">
                    <h3 class="title-tech-skills green"><svg class="icon">
                            <use href="./images/sprite.svg#black-square"></use>
                        </svg> HTML/CSS </h3>


                    <h3 class="title-tech-skills green"><svg class="icon">
                            <use href="./images/sprite.svg#black-square"></use>
                        </svg> JavaScript </h3>


                    <h3 class="title-tech-skills green"><svg class="icon">
                            <use href="./images/sprite.svg#black-square"></use>
                        </svg> React </h3>


                    <h3 class="title-tech-skills green"><svg class="icon">
                            <use href="./images/sprite.svg#black-square"></use>
                        </svg> Node.js </h3>


                    <h3 class="title-tech-skills green"><svg class="icon">
                            <use href="./images/sprite.svg#black-square"></use>
                        </svg> React Native </h3>


                    <h3 class="title-tech-skills green"><svg class="icon">
                            <use href="./images/sprite.svg#black-square"></use>
                        </svg> Typescript <svg class="icon">
                            <use href="./images/sprite.svg#black-square"></use>
                        </svg></h3>


                </div>
            </div>
        </div>
  </div>
</section>