<section id="section-tech_skills" class="section section-tech_skills">
  <div class="container">
    <h2 class="visually-hidden">Tech Skills</h2>
        <div class="marquee">
            <div class="marquee-content">
                <svg class="icon">
                    <use href="../img/tech_skills/sprite.svg#green-square"></use>
                </svg>
                <h3 class="title-tech-skills"> HTML/CSS </h3>
                <svg class="icon">
                    <use href="../img/tech_skills/sprite.svg#green-square"></use>
                </svg>
                <h3 class="title-tech-skills"> JavaScript </h3>
                <svg class="icon">
                    <use href="../img/tech_skills/sprite.svg#green-square"></use>
                </svg>
                <h3 class="title-tech-skills"> React </h3>
                <svg class="icon">
                    <use href="../img/tech_skills/sprite.svg#green-square"></use>
                </svg>
                <h3 class="title-tech-skills"> Node.js </h3>
                <svg class="icon">
                    <use href="../img/tech_skills/sprite.svg#green-square"></use>
                </svg>
                <h3 class="title-tech-skills"> React Native </h3>
                <svg class="icon">
                    <use href="../img/tech_skills/sprite.svg#green-square"></use>
                </svg>
                <h3 class="title-tech-skills"> Typescript </h3>
                <svg class="icon">
                    <use href="../img/tech_skills/sprite.svg#green-square"></use>
                </svg>
            </div>
            <div class="marquee-content">

            </div>
        </div>
        </div>
  </div>
</section>