<section id="section-work_together" class="section section-work_together">
  <div class="container">
    <div class="section__wrapper">
      <h2 class="section-work_together-title">Let’s <span class="color-accent">work together</span></h2>

      <div class="section-work_together-grid">
        <div class="section-work_together-column">
          <div class="contacts">
            <div class="contacts-text">
              <p class="text_caption contacts_caption">Contact me to transform your ideas into exceptional solutions.</p>
            </div>

            <div class="contacts-info">
              <ul class="contacts-list">
                <li class="contacts-list-item"><span class="icon icon-phone"></span> <div class="text"><a target="_blank" href="tel:+380904567890">+38 090 456 78 90</a></div></li>
                <li class="contacts-list-item"><span class="icon icon-mail"></span> <div class="text"><a target="_blank" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></div></li>
                <li class="contacts-list-item"><span class="icon icon-location"></span> <div class="text">USA, New York</div></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="section-work_together-column">
          <form class="form" id="form-work-together">
            <div class="form-input-row">
              <label>
                <input name="email" type="email" class="field field-input" placeholder="Your email*" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required>
              </label>
            </div>

            <div class="form-input-row">
              <label>
                <textarea name="message" class="field field-input" placeholder="Message" required></textarea>
              </label>
            </div>

            <div class="form-input-row">
              <button class="button button-accent">SEND MESSAGE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>