.section.section-about_me {
  padding-top: 40px;
}

.picture-bio-div {
  display: block;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
  .picture-bio-div {
    max-width: 704px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    background-image: url(/img/img-about-me/decor-bg-2-@1x-min.png);
    background-repeat: no-repeat;
    background-size: 336px;
    background-position: 100%;
  }
}

@media only screen and (min-width: 1280px) {
  .picture-bio-div {
    max-width: 1440px;
  }
}

.title-about-me-h2 {
  letter-spacing: 0.03em;
  text-align: left;
  color: #292929;
  margin-bottom: 40px;
}

.img-about-me-man {
  display: block;
  max-width: 320px;
  border-radius: 16px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .img-about-me-man {
    display: block;
    max-width: 336px;
    max-height: 392px;
    margin-top: 300px; /*????*/
  }
}

@media only screen and (min-width: 1280px) {
  .img-about-me-man {
    display: block;
    max-width: 384px;
    max-height: 448px;
    margin-top: 300px;
  }
}
.about-me-title-h3 {
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 32px;
}

.about-me-text-p {
  list-style: none;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 24px;
}

.about-me-text-p-mark {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 24px;
}

.about-me-menu-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-me-text-list-li {
  position: relative;
  padding-left: 20px;
}

.about-me-text-list-li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 17%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: #00b068;
  border-radius: 50%;
}

.decor-bg-phon-png {
  display: none;
}
