.footer {
  padding: 0;

  .footer__top {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    margin-bottom: 40px;

    @media only screen and (min-width: 1280px) {
      flex-direction: row;
    }
  }

  .footer__bottom {
    text-align: right;
  }
}

.logo {
  margin: 0px auto 32px 0;
}

.social-list-ul {
  list-style: none;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .social-list-ul {
    display: flex;

    gap: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .social-list-ul {
    justify-content: right;
    margin: 0 auto;
  }
}

.social-item {
  margin-bottom: 24px;
}
.social-item:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .social-item {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1280px) {
  .social-item {
    margin-right: auto;
    justify-content: right;
  }
}

.footer__copyright {
  max-width: 360px;
  text-align: center;
  align-items: center;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .footer__copyright {
    max-width: 100%;
    text-align: right;
  }
}

.no-break {
  display: none;
}
