html.menu-opened {
  overflow-y: hidden;
}

header.header {
  padding: 20px 0;

  .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    padding-top: 8px;
  }

  .mob-menu-btn {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .mob-close-btn {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .header-menu {
    display: none;
    gap: 40px;
    padding: 0;
  }

  .header-menu-link {
    letter-spacing: 0.03em;
  }

  .header-menu-list {
    list-style: none;
  }

  .mobile-menu {
    background-color: var(--color-white);
    background-image: url(../../img/header_img/mob_menu_bg.png);
    background-position-y: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 20px;
    overflow: auto;
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s, visibility 0.3s;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .mobile-menu.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-nav {
    display: flex;
    justify-content: space-between;
  }

  .mobile-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0;
    flex-grow: 1;
  }

  @media (min-width: 768px) {
    .mob-menu-btn {
      display: none;
    }

    .header-logo {
      font-size: 32px;
      line-height: 1;
      letter-spacing: 0.05em;
    }

    .header-menu {
      display: flex;
    }
  }
}

.dark_mode {
  .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--color-light-grey);
      transition: all .3s ease;
      border-radius: 34px;
      overflow: hidden;

      &:before, &:after {
        content: "";
        position: absolute;
        transition: all .3s ease;
        border-radius: 50%;
      }

      &:before {
        height: 20px;
        width: 20px;
        left: 2px;
        bottom: 2px;
        background-color: var(--color-accent-green);
        border-radius: 50%;
      }

      &:after {
        height: 18px;
        width: 18px;
        left: -100%;
        bottom: 3px;
        background-color: var(--color-light-grey);
        transform: translateX(-50%) scaleX(1);
      }
    }
  }

  input:checked + .slider:before {
    transform: translateX(24px);
  }

  input:checked + .slider:after {
    left: 61%;
  }
}

:root[data-color-scheme="dark"] {
  .dark_mode {
    .slider {
      &:before {
        transform: translateX(24px);
      }

      &:after {
        left: 61%;
      }
    }
  }
}