.section.section-tech_skills {

  .marquee {

    .marquee__inner {
      display: flex;
      background-color: var(--color-light-grey);
      padding: 32px 0;
      position: relative;
      width: 101%;
      overflow: hidden;

      @media (min-width: 768px) {
        padding: 40px 0;
      }

      .marquee__line {
        display: flex;
        gap: 16px;
        animation: marquee 20s ease-in-out infinite;
        flex-shrink: 0;
        padding-right: 16px;
      }

      .title-tech-skills {
        white-space: nowrap;
        position: relative;

        &::before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          margin: 8px;
          margin-right: 26px;
          background-color: var(--color-accent-green);
          border-radius: 2px;
        }
      }

      &.green {
        background-color: var(--color-light-accent);
        z-index: 101;
      }

      &.grey {
        background-color: var(--color-light-grey);
        transform: rotate(2deg);
        z-index: 100;

        .marquee__line {
          animation: marqueeInvert 20s ease-in-out infinite;
        }

        .title-tech-skills {
          color: var(--color-accent-green);

          &:before {
            background-color: var(--color-black);
          }
        }
      }
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes marqueeInvert {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}