.section.section-tech_skills {
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
  .marquee {
    overflow: hidden;
  }
  
  .marquee__inner {
    display: flex;
    background: #bcdfd1;
  }
  
  .marquee__inner.green {
    transform: rotate(2deg);
    background: #e4e5e6;
  
  }
  
  .marquee__line {
    display: inline-flex;
    flex-shrink: 0;
    margin: 0;
    padding: 10px;
    min-width: 100%;
    white-space:  wrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    margin-bottom: 14px;
  }
  
  .marquee__line.green {
    
    
  }
  
  .title-tech-skills {
    align-items: center;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
  }
  
  .title-tech-skills.green {
    color: #00b068;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin: 0 16px;
  }
  
  
  @keyframes marqueeLine {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  }
  
  @media (min-width: 320px) and (max-width: 360px) {
    .title-tech-skills {
      font-size: 1.2em;
    }
  }
  
  @media (min-width: 768px) {
    .marquee__inner {
      padding: 40px 0px;
      width: 1517px;
      height: 128px;
    }
  
    .title-tech-skills {
      font-size: 36px;
      line-height: 1.33333;
      letter-spacing: 0.01em;
    }
  }
  
  @media (min-width: 1280px) {
    .title-tech-skills {
     
    }
  }