* {
  font-family: var(--font-poppins);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-black);
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 360px) {
    max-width: 360px;
  }

  @media (min-width: 768px) {
    max-width: 704px;
  }

  @media (min-width: 1280px) {
    max-width: var(--container);
    padding-left: 32px;
    padding-right: 32px;
  }
}