h1, h2, h3, .text_caption {
  text-transform: uppercase;
}

h1, h2 {
  font-family: var(--font-impact);
  letter-spacing: 1.8px;
}

h1 {
  font-size: 64px;
  line-height: 80px;

  @media (min-width: 768px) {
    font-size: 136px;
    line-height: 156px;
  }
}

h2 {
  font-size: 52px;
  line-height: 64px;

  @media (min-width: 768px) {
    font-size: 108px;
    line-height: 124px;
  }
}

h3 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.5px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 48px;
  }
}

.text, .text_medium, a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text, a {
  font-weight: 300;
}

.text_medium {
  font-weight: 500;
}

.text_caption {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 32px;
  }
}

a {
  color: var(--color-black);
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    color: var(--color-accent-green);
  }
}

.color-accent {
  color: var(--color-accent-green);
  font-family: inherit;
}